<!DOCTYPE html>
<html>
<head>
	<title>Moodboard</title>
	<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/lux/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			
	  <a class="navbar-brand" href="#">Mood Board</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    <div class="navbar-nav ml-auto">
	     <a href="/logout/" class="btn btn-primary">logout</a>
	    </div>
	  </div>
		</div>
	</nav>
<br>
{% block body %}
{% endblock %}

</body>
</html>